
<h1>Artworks Collection</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Collection</th>
     
    </tr>
  </thead>
  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.title %></td>
        <td><%= artwork.artist %></td>
        <td><%= artwork.collection %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
