<h1><%= @artwork.title %></h1>
<p><strong>Artist:</strong> <%= @artwork.artist %></p>
<p><strong>Collection:</strong> <%= @artwork.collection %></p>
<p><strong>Year:</strong> <%= @artwork.year %></p>


